# حماية ملف الباسوردات السري (أهم سطر)
.env

# منع رفع بيئة بايثون الوهمية (عشان مساحتها كبيرة)
.venv/
__pycache__/
*.pyc

# منع رفع مكتبات الفرونت إند التقيلة
node_modules/
dist/

# ملفات نظام التشغيل
.DS_Store